* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #181824;
  height: 100vh;
}

input[type='text'] {
  background: transparent;
  border: none;

  margin-left: 10%;
}

.App-header {
  height: 35vh;
  /* background-image: url('./images/bg__trees.png'); */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */

  position: relative;
  background: linear-gradient(
      131.73deg,
      rgba(114, 190, 248, 0.8) 14.46%,
      rgba(166, 116, 242, 0.8) 87.62%
    ),
    url('./images/bg__trees.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.header {
  color: white;
  /* margin: 0% 8% 0% 8%; */
  position: absolute;
  margin-top: 12%;
  /* margin-left: 25%; */
  width: 55%;
}

.header > h1 {
  padding-bottom: 15px;
}

.inputBox {
  background-color: #25273c;
  color: white;
  border-radius: 7px;
  height: 35px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  margin-left: 2%;
}

.space {
  height: 50px;
  color: white;
}

/* List Component Styling */

.List {
  display: flex;
  justify-content: center;
  margin-top: -15%;
  background-color: #25273c;
  border-radius: 7px;
  min-height: 17vh;
  width: 55%;
  position: relative;
}

.ListDiv {
  color: white;
  position: absolute;
  /* width: 55%; */
}
